.top-bar{
	background:#00bbe4;
	margin-bottom:1px;
	.top-bar-title{
		font-weight:bold;
		padding-top:1rem;
	}
	ul{
		background:none;
		border:none;		
	}
	a{
		color:#fff;
	}	
}


.menu{
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    color: #777777;
    padding:0.5rem 0;
    &.nested{
		border:none;
		border-radius:0;
		padding:0;
	}
}

