.lightbg{
	background:#f3f8f9;
	padding:8rem 0;
	&.internal{
		padding:4rem 0;
	}
	h1{
		margin-bottom:1rem;
		color:#333333;
		span{
			color:#00bbe4;
		}
		strong{
			color:#fff;
			background:#00bbe4;
		}
	}
	p{
		font-size:1.5rem;
		font-weight:300;
	}
}

.title{
	margin-top:6rem;
	margin-bottom:6rem;
	h2{
		font-weight:bold;
		margin-bottom:2rem;
	}
	&.sub{
		h2{
			margin-bottom:1rem;
		}
	}
}
.icon{
	text-align:center;
	margin-bottom:3rem;
}
.contact{
	margin-top:6rem;
	margin-bottom:6rem;	
	h2{
		font-weight:bold;
		margin-bottom:2rem;
	}	
}
.faq{
	margin-bottom:3rem;
}