h1, h2, h3, h4, h5, h6, p{
	color: #333;
}

h1{
	font-size:2.6rem;
}

h2{
	font-size:2rem;
}

h3{
	font-size:1.5rem;
}

hr{
	border-bottom:1px solid #f3f3f3;
}

code, kbd{
	background:#f3f3f3;
	border:1px solid #f3f3f3;
	padding:0;
}

.highlighter-rouge{
	margin-bottom:1rem;
	background:#f3f3f3;
	padding:1rem;
}

p code{
	background:none;
	border:none;
}

p .highlighter-rouge{
	margin-bottom:0;
	background:none;
	padding:0;
}


.top-bar{
	background:#00bbe4;
	margin-bottom:1px;
}

.top-bar ul{
	background:none;
	border:none;
}

.top-bar a{
	color:#fff;
}

.top-bar .top-bar-title{
	font-weight:bold;
	padding-top:1rem;
}

.menu{
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    color: #777777;
    padding:0.5rem 0;
}

.menu.nested{
	border:none;
	border-radius:0;
	padding:0;
}

.large-10 ul li{
	padding:0.2rem;
}

.large-10 ul li a{
	color:#333;

}

.large-10 ul li a:hover{
	text-decoration:underline;
}

.lightbg{
	background:#f3f8f9;
	min-height:400px;
}

.lightbg h1{
	margin-top:8rem;
	font-size:3rem;
}

.lightbg h1 span{
	font-weight:bold;
	color:#00bbe4;
}

.lightbg h1 strong{
	font-weight:normal;
	color:#fff;
	background:#00bbe4;
}

.lightbg p{
	font-size:1.5rem;
}